body {
    font-family: sans-serif;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    transform: translate(7.5rem, 4rem);
    flex-grow: 1;
}

p {
    align-self: flex-start;
    font-size: 2.3rem;
}

form {
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: flex-start;
    width: 70%;
    height: 12%;
    gap: 2.3rem;
    margin: 1.2rem 0;
    border-radius: 14px;
    background-color: #262a33;
    padding: 0.7rem 2rem;

    input {
        border: none;
        color: white;
        outline: none;
        height: 60%;
        width: 45%;
        font-size: 1.8rem;
        background-color: transparent;
        border-bottom: 2px solid #aaa;
        transition: border-bottom 100ms ease-in-out;
        flex-grow: 1;
    }

    input:focus {
        border-bottom: 2px solid white;
    }

    .fa-paper-plane {
        transform: scale(1.3);
        padding: 0 .5rem;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        height: 80%;
        width: 20%;
        border-radius: 12px;
        color: white;
        background-color: #40444c;
        transition: transform 150ms ease-in-out;
        padding: 1.1rem;
    }

    button:hover {
        background-color: #585c64;
        transform: scale(1.1);
    }
}

.summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
    width: 70%;
    height: 100%;
    max-height: 60vh;
    gap: 2.3rem;
    margin: 1.2rem 0;
    border-radius: 14px;
    background-color: #262a33;
    padding: 2rem;
    font-size: 1.3rem;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
    text-align: justify;
    line-height: 1.5;
    flex-grow: 1;

    button {
        border: none;
        outline: none;
        height: 20%;
        width: 100%;
        font-size: 1rem;
        border-radius: 12px;
        padding: 0.6rem;
        color: white;
        background-color: #1854f4;
    }

    button:hover {
        filter: brightness(1.3);
    }
}

.preview {
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    width: 30vw;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    gap: 15px;

    button {
        border: none;
        outline: none;
        height: auto;
        width: 60%;
        font-size: 1rem;
        border-radius: 12px;
        padding: 0.6rem;
        color: white;
        background-color: #1854f4;
    }

    button:hover {
        filter: brightness(1.3);
    }
}

.pdf-preview {
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-self: flex-start;
}
